
.ipynb_checkpoints/docs-checkpoint.txt
.ipynb_checkpoints/factors-checkpoint.txt
.ipynb_checkpoints/histogram-checkpoint.txt
.ipynb_checkpoints/primes-checkpoint.txt
.ipynb_checkpoints/Untitled-checkpoint.ipynb
